@charset "utf-8";

/* base */
body {background-color: #fff;  overflow-x: hidden !important;  min-width:1000px;  font-size : 14px;
	font-family: 'Malgun Gothic','맑은 고딕',Arial, Dotum, "돋움", Gulim, "굴림", sans-serif; line-height:1.6; color:#010101; }
	
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, table, tr, th, td{margin:0;padding:0}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:100%}
ul, ol, li{list-style:none}
fieldset, img{border:none; vertical-align:middle; }
em { font-style: normal;}
a {color:#424242;}
a:link {text-decoration:none;}
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; padding:0; visibility:hidden; font-size:0; line-height:0;}
caption {font-size:0; }

/* form */
input {vertical-align:middle; }
select {font-size:12px!important;}

/* position */
.relative {position:relative; }
.absolute {position:absolute;}
.abs_right {right:0;}
.left15 {margin-left:15px;}
.bgPup {background:#210D43;}
.bgPup {background:#210D43;}
.ftPup {color:#64137C !important;}
.ftWhite {color:#fff !important;}
.top0 {top:0}
.top10 {top:10px}
.top20 {top:20px}
.top30 {top:30px}
.mgLeft10 {margin-left:10px;}
.mgLeft15 {margin-left:15px;}
.mgLeft20 {margin-left:20px;}
.mgLeft30 {margin-left:30px;}
.mgLeft35 {margin-left:35px;}
.mgLeft40 {margin-left:40px;}
.mgLeft42 {margin-left:42px;}
.mgLeft44 {margin-left:44px;}
.mgLeft45 {margin-left:45px;}
.mgLeft47 {margin-left:47px;}
.mgLeft50 {margin-left:50px;}
.mgTop10 {margin-top:10px;}
.mgTop15 {margin-top:15px;}
.mgTop20 {margin-top:20px;}
.mgTop30 {margin-top:30px;}
.mgTop31 {margin-top:31px;}
.mgTop35 {margin-top:35px;}
.mgTop40 {margin-top:40px;}
.mgTop50 {margin-top:50px;}
.pdLeft5 {padding-left:5px;}

/* text */
.font11 {font-size:11px!important;}
.font12 {font-size:12px!important;}
.font14 {font-size:14px!important;}
.underline {text-decoration:underline!important;}
.bold {font-weight:bold!important;}
.normal {font-weight:normal!important;}
strong.orange {color:#fe6000;}
span.gray {color:#999;}
.ellipsis {white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; }
.puple {color:#57156d;}


/* table */
table {width:100%; border-collapse:collapse; }
.left {text-align:left!important; }
.center {text-align:center!important; }
.right {text-align:right!important; }

/* float */
.floatL {float:left; }
.floatR {float:right;}
.clear {zoom:1;}
.clear:after {content:""; display:block; clear:both; }

/* display */
.block {display:block!important;}
.inline {display:inline!important;}
.inlineB {display:inline-block!important;}
.none {display:none!important;}



/* common */
div.content {width:800px; min-height:690px; display:block; margin:0 auto; padding:20px 10px 0 10px; background:url(../images/bg_page.png) no-repeat left top; position:relative ;}
div.content div.bottom_text {position: absolute; top: 500px; left:130px; text-align:left; color:#000000; font-weight:bold;}
div.content div.bottom_text span {display:block;}

div.content div.bottom_text2 {position: absolute; top: 660px; left:130px; text-align:left; color:#000000; font-weight:bold;}
div.content div.bottom_text2 span {display:block;}

div.content div.bottom_text3 {position: absolute; top: 310px; left:130px; text-align:left; color:#532686; font-weight:bold;}
div.content div.bottom_text3 span {display:block;}

div.main {text-align:center;}
div.main div.img01 {margin:70px 0 0 60px; text-align:left;}
div.main div.text01 {width:183px; height:36px; line-height:36px; vertical-align:middle; font-size:19px; margin:30px 0 0 80px; background:white url(../images/img_main_01.png) no-repeat left top;}
div.main div.text02 {width:183px; height:36px; margin:20px 0 0 95px;}

/* startPage */
div.startPage {}
div.startPage div.sp_left {float:left; text-align:left; margin-left:10px; display:inline-block;}
div.startPage div.sp_left span, img { display:block}
div.startPage div.sp_left span.nameBox {width:183px; height:36px; line-height:36px; vertical-align:middle; text-align:center; margin:30px 0 20px 10px; font-size:18px; font-weight:bold; background:url(../images/startPage_02.png) no-repeat left top;}
div.startPage div.sp_right {float:right; display:inline-block;}

/* info */
div.info {text-align:left; margin:10px 0 0 10px;}
div.info span.dot { width:100%; height:30px; margin:0 30px 0 15px; background:url(../images/info_dot.png) repeat-x left bottom; }
div.info ul.info04 {color:#630e8b; background-color:#eeeeee; }
div.info ul.midTitle {width:460px; height:45px; padding-top:3px; text-align:center; }
div.info li.subTitle {font: bold 15px Dotum, "돋움" color:#010101; background-color:#dedaf8; line-height:1.6; padding-left:5px; width:105px;}
div.info li.radio {background-color:#efefef; height:35px; line-height:35px;  text-align:center; width:290px; vertical-align:middle; padding-top:7px;}
div.info li.radio2 {background-color:#efefef; height:35px; line-height:35px; text-align:center; width:330px; vertical-align:middle; padding-top:7px;}


div.info img.txt_main {display:inline-block;}
div.grap {}
div.info span.radio {background-color:#efefef; height:65px; line-height:35px;  text-align:left; width:340px; vertical-align:middle; padding-top:7px; display:inline-block; margin-left:80px; font-weight:bold;}


/* titlePage */
div.titlePage {width:620px; height:761px; text-align:center; margin:auto; background:white url(../images/titlepage_bg.png) no-repeat left 20px top 20px; border: 1px solid #fff;}
div.titlePage div.img01 {margin:120px 0 0 40px; text-align:left;}
div.titlePage div.text01 {width:auto; height:36px; margin:50px 0 0 55px; text-align:left; letter-spacing:0.5px;}
div.titlePage div.text01 span.t1 {width:100px; margin-bottom:10px; background:#DED8F6; font-size:14px; text-align:center; display:block; font-weight:bold;}
div.titlePage div.text01 span.t2 {display:block; margin-left:5px;}
div.titlePage div.text01 em {font-weight:bold; size:14px;}
div.titlePage div.text02 {width:auto; height:auto; margin:40px 0 0 55px; text-align:left; letter-spacing:0.5px;}

/* consent */
div.consent {width:620px; text-align:center; margin:auto; }
div.consent div.txt01 {font-size:15px; color:#544899; font-weight:bold; margin-top:20px; font: normal YGO145 !important;}
div.consent div.txt01 em {color:#372E72; margin-right:10px;}
div.consent div.txt02 {text-decoration: underline; text-align:left; font-weight:bold; margin:30px 0 0 25px;}
div.consent div.txt03 {text-align:left; margin:20px 20px 0 25px; letter-spacing:-0.5px;}
div.consent div.txt04 {text-align:left; margin:20px 20px 0 20px; background:#E7E5F4; letter-spacing:-0.5px; padding:5px;}
div.consent div.txt05 {margin:30px 20px 0 20px;}
div.consent div.txt05 div.left {float:left; display:inline-block; text-align:left; background:#E7E5F4; letter-spacing:-0.1px; padding:5px; }
div.consent div.txt05 div.right {display:inline-block; }
div.consent div.txt06 {margin:20px 20px 150px 0; }
div.consent div.txt06 div.right {border-bottom:2px solid #40377A; width:170px; font-weight:bold; float:right;}
div.consent div.txt06 div.right em {font-size:16px; letter-spacing:5px; word-spacing:5px; margin-left:5px;}
div.consent div.txt07 {text-align:left; font-weight:bold; margin:30px 0 0 25px;}

div.consent div.img01 {padding-bottom:1px; width:573px; margin:auto;}
div.consent div.img03_1 {border-bottom: 2px solid #1B4388; padding-bottom:1px; width:573px; margin:auto;}
div.consent div.txt03_1 {font-size:11px;  margin-top:8px; font: normal YGO145 !important;}
div.consent div.txt03_2 {border: 1px solid #D3D3D3; padding:20px 5px 20px 5px; margin:10px 30px 10px 30px; }
div.consent div.txt03_2 div.c_main {text-align:left; letter-spacing:-0.1px;}
div.consent div.txt03_2 div.c_main em {text-decoration: underline;}
div.consent div.txt03_2 div.c_contact1 {text-align:right; margin-top:30px; margin-right:97px;}
div.consent div.txt03_2 div.c_contact2 {text-align:right; margin-right:5px;}
div.consent div.txt03_2 div.c_contact2 em {background:url(../images/consent3_02.png) no-repeat left top 1px; padding-left:15px; }
div.consent div.txt03_2 div.c_contact3 {text-align:right; margin-right:5px;}
div.consent div.txt03_2 div.c_contact3 em {background:url(../images/consent3_02.png) no-repeat left top 1px; padding-left:15px; }
div.consent div.txt03_3 {font-weight:bold; text-align:left; font-size:13px; color:#1D0E5C; margin-left:30px;}
div.consent div.txt03_3 em {padding-left:15px;}
div.consent div.txt03_4 {margin:5px 30px 10px 30px; background:#D9D3E8; text-align:left; padding:5px 5px 5px 5px; height: 80px;}
div.consent div.txt03_4 div.box1 {display:inline-block; width:450px; float:left; padding-top:5px;}
div.consent div.txt03_4 div.box1 em {padding-left:13px;}
div.consent div.txt03_4 div.box2 {display:inline-block; width:100px; background:#F0EDF6; padding-top:4px; height: 76px;}
div.consent div.txt03_4 div.box2 li {padding-left:5px; padding-top: 8px; font-size: 13px;}

div.consent div.txt03_5 {margin:5px 30px 10px 30px; background:#D3D6F2; text-align:left; padding:5px 5px 5px 5px; height: 80px;}
div.consent div.txt03_5 div.box1 {display:inline-block; width:450px; float:left; padding-top:5px;}
div.consent div.txt03_5 div.box1 em {padding-left:13px;}
div.consent div.txt03_5 div.box2 {display:inline-block; width:100px; background:#edeffa; padding-top:4px; height: 76px;}
div.consent div.txt03_5 div.box2 li {padding-left:5px; padding-top: 8px; font-size: 13px;}

div.consent div.txt03_6 {margin:5px 30px 10px 30px; text-align:center; color:#FF0000; font-weight:bold;}
div.consent div.txt03_7 {color:#666565; text-align:right; margin-right:30px; font-size:11px; margin-bottom:20px;}




/* guide01 */
div.guide01 {width:620px; text-align:center; padding:20px; margin:auto;}
div.guide01 span {display:block;}
div.guide01 div.guide01_top {width:100%; height:70px; font-size:25px; padding:10px 0 0 0; text-align:left; color:#40349F; font-weight:bold; font: normal YGO145 !important;}
div.guide01 div.guide01_top span.line_2 {padding-left:10px;}
div.guide01 div.guide01_top span.line_2 em {font-size:30px !important;}
div.guide01 div.guide01_mid_1 {width:100%; height:280px; margin-top:20px; text-align:left; background:white url(../images/bg_guide_01.png) no-repeat left 200px top;}
div.guide01 div.guide01_mid_2 {height:295px; padding:15px 15px 10px 15px; margin:40px 10px 0 10px; background: #F4F4F4; border:1px solid #D6D6D6;}
div.guide01 div.guide01_bottom {height:100px; margin:20px 0 10px 0;}

div.guide01 div.guide01_mid_1 div.left {float:left; width:350px; height:100%; display:inline-block; padding-left:10px; font: normal Dotum !important; letter-spacing:0.5px;}
div.guide01 div.guide01_mid_1 div.left span img{margin-right:10px; margin-bottom:20px;}
div.guide01 div.guide01_mid_1 div.right {float:right; width:250px; height:100%;  display:inline-block; margin-right:10px;}
div.guide01 div.guide01_mid_1 div.right div.rt_img {width:100%; height:180px; display:block; text-align:right; }
div.guide01 div.guide01_mid_1 div.right div.rt_img img {margin-top:9px;}
div.guide01 div.guide01_mid_1 div.right div.rb_img {width:100%; height:91px; margin-top:206px; text-align:right; display:block;}
div.guide01 div.guide01_mid_1 div.right div.rb_img li{width:71px; height:100%; margin-left:7px; display:inline-block;  cursor:pointer;}

div.guide01 div.guide01_mid_2 span {text-align:left; letter-spacing:1px;}
div.guide01 div.guide01_mid_2 span.mid2_f {color:#630E8B; font-weight:bold; font:normal Gulim !important; text-decoration: underline; text-align:center;}
div.guide01 div.guide01_mid_2 span.box {background:url(../images/icon_box_pupple.png) no-repeat left top 5px; padding-left:15px;}
div.guide01 div.guide01_mid_2 span.mid2_last {width:325px; margin:0 auto 0 10px; padding-left:10px; padding-right:10px;}


div.guide01 div.guide01_bottom div.left {width:75px; float:left; display:inline-block;}
div.guide01 div.guide01_bottom div.right {width: 520px; height:100%; display:inline-block; text-align:left;}
div.guide01 div.guide01_bottom div.right li.last{margin-top:10px; letter-spacing:0.5px;}

/* guide02 */
div.guide02 {width:620px; text-align:center; margin:auto;}
div.guide02 div.guide02_top {width:100%; height:100px;}
div.guide02 div.guide02_main {width:100%; height:702px; margin-top:20px; background:white url(../images/bg_guide02_01.png) no-repeat left 20px top 25px;}

div.guide02 div.guide02_top div.left {float:left; width:71px; margin:25px 0 0 25px; display:inline-block;}
div.guide02 div.guide02_top div.right {float:right; width:485px; height: 91px; margin:25px 26px 0 0; display:inline-block; }
div.guide02 div.guide02_top div.right span {display:block; text-align:left;}
div.guide02 div.guide02_top div.right span.line1 {margin:5px 0 0 0 ; font-weight:bold; font: normal YGO145 !important; font-size:25px; color:#521898; background:url(../images/img_guide02_under.png) repeat-x  left top 36px;}
div.guide02 div.guide02_top div.right span.line1 em {font-size:22px;}
div.guide02 div.guide02_top div.right span.line2 {padding-left:25px; margin-top:5px; line-height:1.4em; background:url(../images/icon_guide02_imp.png) no-repeat  left 10px top 1px;}

div.guide02 div.guide02_main div.sub_title {color:#fff; font-size:14px; text-align:left; margin-left:39px; padding-top:51px; font-weight:bold; font: normal YGO145 !important;}
div.guide02 div.guide02_main div.sub_main {margin:35px 30px 0 30px;}
div.guide02 div.guide02_main div.sub_main div.sub_1 {display:inline-block; text-align:center;}
div.guide02 div.guide02_main div.sub_main div.sub_1 span{display:block; font-weight:bold; background:url(../images/img_guide02_input.png) no-repeat  left 35px top;}
div.guide02 div.guide02_main div.sub_main div.sub_1 img{padding-top:10px; display:block;}

div.guide02 div.guide02_main div.sub_main_2 {margin:25px 30px 0 30px;}
div.guide02 div.guide02_main div.sub_main_2 div.sub_2 {display:inline-block; text-align:center; margin-right:5px;margin-left:5px;}
div.guide02 div.guide02_main div.sub_main_2 div.sub_2 span{display:block; font-weight:bold; background:url(../images/guide2_2_2.png) no-repeat  left 45px top;}
div.guide02 div.guide02_main div.sub_main_2 div.sub_2 img{padding-top:5px; display:block;}

div.guide02 div.guide02_main div.sub_main_2 div.sub_3 {display:inline-block; text-align:center; margin-top:10px;}
div.guide02 div.guide02_main div.sub_main_2 div.sub_3 span{display:block; font-weight:bold; background:url(../images/guide2_2_5.png) no-repeat  left 25px top;}
div.guide02 div.guide02_main div.sub_main_2 div.sub_3 span.not {visibility:hidden;}
div.guide02 div.guide02_main div.sub_main_2 div.sub_3 img{padding-top:5px; display:block;}

div.guide02_3 {width:620px; text-align:center; margin:auto;}
div.guide02_3 div.guide02_3_top {width:100%; height:200px;}
div.guide02_3 div.guide02_3_main {width:100%; height:600px; margin-top:20px; padding-top:1px; background:white url(../images/guide_02_03_bg.png) no-repeat left 30px top 10px; }

div.guide02_3 div.guide02_3_top div.left {float:left; width:71px; margin:25px 0 0 25px; display:inline-block;}
div.guide02_3 div.guide02_3_top div.right {float:right; width:485px; height: 91px; margin:25px 26px 0 0; display:inline-block; }
div.guide02_3 div.guide02_3_top div.right span {display:block; text-align:left;}
div.guide02_3 div.guide02_3_top div.right span.line1 {margin:5px 0 0 0 ; font-weight:bold; font: normal YGO145 !important; font-size:22px; color:#521898; background:url(../images/img_guide02_under.png) repeat-x  left top 36px;}
div.guide02_3 div.guide02_3_top div.right span.line1 em {font-size:25px;}
div.guide02_3 div.guide02_3_top div.right span.line2 {padding-left:25px; margin-top:5px; line-height:1.4em; background:url(../images/icon_guide02_imp.png) no-repeat  left 10px top 1px;}
div.guide02_3 div.guide02_3_top div.right span.line2 em {text-decoration: underline; color:#64137C !important; font-weight:bold;}
div.guide02_3 div.guide02_3_top div.right span.line3 {padding-left:25px; margin-top:5px; line-height:1.7em;}
div.guide02_3 div.guide02_3_top div.right span.line4 {padding-left:35px; margin-top:5px;}

div.guide02_3 div.guide02_3_main div.sub_main_2 {margin:25px 30px 0 30px;}
div.guide02_3 div.guide02_3_main div.sub_main_2 div.sub_2 {display:inline-block; text-align:center; margin-right:5px;margin-left:5px; padding-top:5px;}
div.guide02_3 div.guide02_3_main div.sub_main_2 div.sub_2 span{display:block; font-weight:bold; width:100%; background:url(../images/guide2_02_3_1.png) no-repeat  left 35px top;}
div.guide02_3 div.guide02_3_main div.sub_main_2 div.sub_2 span.not {visibility:hidden;}
div.guide02_3 div.guide02_3_main div.sub_main_2 div.sub_2 img{padding-top:5px; display:block;}

div.guide02_3 div.guide02_3_main div.sub_main_2 div.sub_3 {display:inline-block; text-align:center;}
div.guide02_3 div.guide02_3_main div.sub_main_2 div.sub_3 img{padding-top:5px; display:block; margin:0 auto;}

/* endPage */
div.endPage {margin-top:140px;}

.nurition-radio-wrapper{
	margin-top : 5px;
	margin-bottom : 10px;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
	
	background-color : #c5e5f4;
	width : 550px;
}

.nutrition-graph{
	height : 382px;
}